// fonts
@import url('https://fonts.googleapis.com/css?family=Signika+Negative');

html{
    body{
        margin: 0;
        overflow: hidden;
        font-family: 'Signika Negative', sans-serif;
        #app{
            overflow: hidden;
            background-image: linear-gradient(to bottom right, #fff 42%, #4d4def);
            height: 100vh;
            width: 100vw;
            h1{
                font-size: 4vw;
                line-height: 1;
                margin: 0;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            .popover_wrp {
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
    
                a {
                    text-decoration: none;
                    .loader{
                        display: block;
                        height: 10vw;
                    }
                }
                .popover_cnt{
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    background-color: #ffffff;
                    padding: 1.5vw;
                    border-radius: 1vw;
                    box-shadow: 0 -2px 12px 0 rgba(0,0,0,0.2);
                    width: 15vw;
                    transition: all 0.35s ease-in-out;
                    transform: translate(-50%, -100%);
                    &:after {
                        position: absolute;
                        z-index: -1;
                        content: "";
                        right: calc(50% - 15px);
                        bottom: -14px;
                        border-style: solid;
                        border-width: 15px 15px 0 15px;
                        border-color: #ffffff transparent transparent transparent;
                        transition-duration: 0.3s;
                        transition-property: transform;
                    }
                    .popover_msg {
                        text-align: center;
                        margin-top: 1.5vw;
                        margin-bottom: .5vw;
                        line-height: 1;
                    }
                    >img{
                        display: block;
                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                    }
                }
                &:hover{
                    .popover_cnt {
                        z-index: 10;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
      
            .sfera{
                position: absolute;
                &.sfera-1{
                    bottom: -2%;
                    right: -12%;
                    width: 60vw;
                    transform: translateY(40%);
                }
                &.sfera-2{
                    top: 0;
                    left: -15%;
                    width: 55vw;
                    transform: translateY(-50%);
                }
                &.sfera-3{
                    bottom: 16%;
                    left: 2%;
                    width: 30vw;
                }
            }
        }

    }
    @import 'responsive';
}